.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .page-container-header {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  .page-container-inner {
    overflow: auto;
    flex: 1;
    padding: 15px;
  }
}
