.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;

  .page-container-header {
    padding: 10px 15px;
    border-bottom: 1px #efefef solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .page-container-header-title {
      display: flex;
      flex-direction: row;
      align-items: center;

      .title-text {
        font-size: 20px;
        font-weight: 600;
        margin-right: 20px;
      }

      .title-extra {
      }
    }

    .page-container-header-right {
    }
  }

  .page-container-inner {
    overflow: auto;
    flex: 1;
    padding: 15px;
  }
}
