@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin scrollbar($c: rgba(0, 0, 0, 0.15)) {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $c;
  }
}

@mixin window-common {
  html,
  body,
  #root {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

.ant-modal-wrap {
  @include scrollbar;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.main-layout {
  height: 100vh;
  width: 100vw;
  .main-header {
    -webkit-app-region: drag;
    padding-right: 0;
    background: #4090f7;
  }
  .main-sider {
    position: relative;
    .sider-collapsed {
      position: absolute;
      top: 50%;
      right: 0;
      border: 1px solid #dcdfe6;
      height: 50px;
      width: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px 0 0 5px;
      border-right: 0;
      cursor: pointer;
      color: #606266;
      transform: translateY(-50%);
    }
  }
  .main-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dcdfe6;
    padding: 0 12px;
    font-size: 20px;
  }
}
