$border-color: rgb(217, 217, 217);

.header-edit {
  * {
    user-select: none;
  }

  .header-field-container {
    border: 1px solid $border-color;

    .header-item-container {
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: 0;
      }

      .ant-select {
        .ant-select-selector {
          border-radius: 0;
          border: 0;
          border-right: 1px solid rgb(217, 217, 217);
        }
      }

      .ant-input {
        border-radius: 0;
        border: 0;
        margin-left: 1px;
      }

      .form-item-action {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
