#MediaDownloaderRoot {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  z-index: 10000;
  max-width: 300px;
}

#MediaDownloaderRoot .video-item {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #000;
  cursor: pointer;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 0;
}

#MediaDownloaderRoot .video-item:last-child {
  border-bottom: 1px solid #000;
}
