.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .container-header {
    background-color: rgb(64, 144, 247);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
  }
  .container-footer {
    padding: 5px;
    background: #fff;
    text-align: right;
    border-top: #efefef solid 1px;
  }
}
