.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .container-sider {
    .like-item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .container-footer {
    padding: 5px;
    background: #fff;
    text-align: right;
    border-top: #f0f0f0 solid 1px;
  }
  @media (prefers-color-scheme: dark) {
    .container-footer {
      background: #141414;
      border-top: #313131 solid 1px;
    }
  }
}
