import React from "react";
import WindowToolBar from "../common/components/WindowToolBar";

interface Props {}
interface State {}

class SettingWindow extends React.Component<Props, State> {
  constructor(props: Props) {
    super(props);
  }

  render() {
    return (
      <div className="{{dashCase name}}">
        <WindowToolBar onClose={() => {}}>{{title}}</WindowToolBar>
        <div className="window-inner">
        </div>
      </div>
    );
  }
}

export default {{name}};
