html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;

  .tool-bar {
    margin-top: 3px;
    height: 30px;
    line-height: 30px;
    -webkit-app-region: drag;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    user-select: none;

    .tool-bar-left {
      -webkit-app-region: no-drag;
      display: flex;
      flex-direction: row;
      align-items: center;

      .icon {
        padding: 5px;

        &.home {
          font-size: 14px;
          margin-top: -1px;
        }

        &:hover {
          background: #dcdfe6;
        }
      }
    }

    .title {
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行
    }

    .tool-bar-right {
      .button {
        width: 50px;
        text-align: center;
        cursor: pointer;
        -webkit-app-region: no-drag;

        &:hover {
          background-color: #d71526;
          color: #fff;
        }
      }
    }
  }

  .webview-container {
    flex: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .webview-nav {
      padding: 2px;
    }

    #videoView {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #f2f6fc;
    }
  }
}
