.source-extract {
  &.is-page {
    padding-left: 10px;
    height: 100vh;
    width: 100vw;
  }
  .source-extract-inner {
    padding: 0;
    display: flex;
    flex-direction: column;
    .action-bar {
      padding: 10px 5px;
    }
    .source-extract-content {
      flex: 1;
      overflow: auto;
      .webview-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        .webview-inner {
          height: 100%;
          width: 100%;
        }
        .webview-sider {
          height: 100%;
          padding: 0 10px 10px 5px;
          overflow: auto;
          .webview-sider-inner {
            .ant-collapse-header {
              align-items: center;
              .ant-collapse-header-text {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }
          }
        }
        .divider {
          position: relative;
          width: 6px;
          background-color: #ddd;
          cursor: ew-resize;
          .handle {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 12px;
            margin-top: -6px;
            margin-left: -3px;
            background-color: transparent;
            border-right: 6px solid #aaa;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            transform: translateX(-50%);
          }
        }
      }
      .list-container {
        padding: 30px;
        flex: 1;
        .list-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          .list-tem-card {
            height: 100px;
            width: 100px;
            padding: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            &:hover {
              background: #f2f6fc;
            }
            .card-text {
              width: 100%;
              margin-top: 6px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
