.source-extract {
  .source-extract-inner {
    padding: 0;
    display: flex;
    flex-direction: column;
    .action-bar {
      padding: 10px 5px;
    }
    .source-extract-content {
      flex: 1;
      overflow: auto;
      .webview-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        .webview-inner {
          height: 100%;
          width: 100%;
        }
        .webview-sider {
          width: 200px;
          padding: 0 10px 0 5px;
          .list-item {
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
          }
        }
      }
      .list-container {
        padding: 30px;
        flex: 1;
        .list-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          .list-tem-card {
            height: 100px;
            width: 100px;
            padding: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            &:hover {
              background: #f2f6fc;
            }
            .card-text {
              width: 100%;
              margin-top: 6px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
