@import "renderer/common/style/common";

.download-list {
  height: 100%;
  display: flex;
  flex-direction: column;

  .download-list-table {
    flex: 1;
    overflow: auto;
    margin-top: 20px;

    .ant-table-body {
      @include scrollbar;
    }
  }
}
