@import "../common/style/common";

@include window-common;

.main-window {
  height: 100vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  .main-window-tabs {
    flex: 1;

    .ant-tabs-nav {
      margin: 0;
    }

    .ant-tabs-content {
      padding: 10px;
      height: 100%;
      overflow: auto;
      @include scrollbar;
    }
  }

  .float-icon {
    position: absolute;
    bottom: 40px;
    left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dcdfe6;
  }
}

.comment-drawer {
  .ant-drawer-body {
    @include scrollbar;
  }
}
