@import "../common/style/common";

@include window-common;

.main-window {
  height: 100vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  .main-window-tabs {
    flex: 1;

    .ant-tabs-nav {
      margin: 0;
      height: 40px;
      background: #4090f7;
      -webkit-app-region: drag;
      .ant-tabs-nav-wrap {
        padding: 0 20px;
      }
      .ant-tabs-tab-btn {
        -webkit-app-region: no-drag;
        color: #fff;
        font-size: 17px;
        user-select: none;
        .download-item {
          font-size: 17px;
          color: #fff;
        }
      }
      .ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          color: #fff;
        }
      }
      .ant-tabs-ink-bar {
        height: 3px;
        background: #fff;
        transform: translateY(-5px);
      }
    }

    .ant-tabs-content {
      padding: 0;
      height: 100%;
      overflow: auto;
      @include scrollbar;
    }
  }

  .float-icon {
    position: absolute;
    bottom: 40px;
    left: 10px;
    height: 50px;
    width: 60px;
    cursor: pointer;
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dcdfe6;
    padding: 5px 12px;
    font-size: 20px;
  }
}

.comment-drawer {
  .ant-drawer-body {
    @include scrollbar;
  }
}
