@import "../main";

.terminal-page {
  height: 100vh;
  .content {
    height: 100%;
    background: #000;
    color: #fff;
    padding: 10px;
    overflow: auto;
    @include scrollbar(rgba(255, 255, 255, 0.15));
    .message {
      margin: 0;
    }
  }
}
