.setting-form {
  padding: 20px;

  .form-title {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0;
  }

  .form-inner {
    padding: 24px;
    background: #ffffff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04),
      0 10px 20px 0 rgba(0, 0, 0, 0.04);
    border-radius: 8px;
  }
}
