@import "../../main";

@include window-common;

.main-window {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  .float-icon {
    position: absolute;
    bottom: 40px;
    left: 10px;
    height: 50px;
    width: 60px;
    cursor: pointer;
  }

  .toolbar {
  }
}

.comment-drawer {
  .ant-drawer-body {
    @include scrollbar;
  }
}
