@import "../../main";

@include window-common;

.main-window {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  .download-list-container {
    .new-download-list {
      .list-item-container {
        cursor: pointer;
        &:hover {
          background: #e4e7ed;
        }

        .list-item-inner {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .favorite-menu {
      .ant-dropdown-menu-title-content {
        width: 100%;
      }
    }

    .ant-form {
      .ant-form-item {
        margin-bottom: 8px;
      }
    }

    .task-panel-wrapper {
      padding: 0 15px 15px;
      height: 100%;
      flex: 1;
      overflow-y: auto;
      min-width: 300px;
      @include scrollbar();
    }
  }

  .float-icon {
    position: absolute;
    bottom: 40px;
    left: 10px;
    height: 50px;
    width: 60px;
    cursor: pointer;
  }

  .toolbar {
  }
}

.comment-drawer {
  .ant-drawer-body {
    @include scrollbar;
  }
}

.file-drop {
  height: 100%;
  width: 100%;

  > .file-drop-target {
    height: 100%;
    width: 100%;
    position: relative;

    &.file-drop-dragging-over-frame {
      &::after {
        z-index: 10000;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

    &.file-drop-dragging-over-target {
      &::before {
        z-index: 10100;
        content: "拖拽到这里新建下载";
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        border: 2px #00b3ff dashed;
        border-radius: 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
