@import "../../style/common";

.window-tool-bar {
  padding: 13px;
  -webkit-app-region: drag;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  user-select: none;

  &-left {
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-title {
    @include text-ellipsis();
  }

  &-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-app-region: no-drag;

    .btn {
      margin: 0 8px;
      height: 20px;
      width: 20px;
      text-align: center;
      font-size: 15px;
      transition: background-color 0.3s ease;

      img {
        height: 20px;
        width: 20px;
        display: block;
      }
    }
  }
}
