@import "../../style/common";

.window-tool-bar {
  -webkit-app-region: drag;
  padding-left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  user-select: none;
  height: 30px;

  &-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    @include text-ellipsis();
  }

  &-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-app-region: no-drag;

    .btn {
      height: 29px;
      line-height: 30px;
      width: 45px;
      text-align: center;
      font-size: 14px;
      transition: background-color 0.3s ease;
      &:hover {
        background: #e5e5e5;
      }

      &.close {
        &:hover {
          background: #e81123;
          color: #fff;
        }
      }
    }
  }
}
