$border-color: #d9d9d9;

.header-edit {
  .header-field-container {
    margin-bottom: 6px;

    .header-item-container {
      margin-top: -1px;

      &.is-first {
        margin-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      .ant-select {
        &.ant-select-focused {
          z-index: 1;
        }

        &:hover {
          z-index: 1;
        }

        .ant-select-selector {
          border-radius: 0;
        }
      }

      .ant-input {
        &:hover,
        &:focus {
          z-index: 1;
        }

        margin-left: -1px;
        border-radius: 0;
      }

      &.is-first {
        .ant-select {
          .ant-select-selector {
            border-top-left-radius: 6px;
          }
        }

        .ant-input {
          border-top-right-radius: 6px;
        }
      }

      &.is-last {
        .ant-select {
          .ant-select-selector {
            border-bottom-left-radius: 6px;
          }
        }

        .ant-input {
          border-bottom-right-radius: 6px;
        }
      }

      .form-item-action {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .action-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
