.player-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  .video-container {
    flex: 1;
    background: #000;
    display: flex;
    align-items: center;
    position: relative;
  }
  .video-list {
    padding: 10px;
    width: 300px;
    height: 100%;
    overflow: auto;
    .video-list-item {
      cursor: pointer;
    }
  }
  .list-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
  }
}
