@import "../../main";

.window-tool-bar {
  -webkit-app-region: drag;
  padding-left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  user-select: none;
  height: 30px;

  &-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    @include text-ellipsis();

    .mac-btn {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin: 0 3px;
      cursor: pointer;
      font-size: 10px;
      text-align: center;
      color: #fff;

      &.close {
        background: rgb(250, 100, 94);
      }

      &.min {
        background: rgb(232, 189, 90);
      }

      &.max {
        background: rgb(106, 187, 83);
      }

      &:hover {
        &.close {
          background-image: url(assets/btn-close.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 6px 6px;
          background-color: rgb(250, 100, 94);
        }

        &.min {
          background-image: url(assets/btn-min.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 6px 2px;
          background-color: rgb(232, 189, 90);
        }

        &.max {
          background-image: url(assets/btn-max.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 6px 6px;
          background-color: rgb(106, 187, 83);
        }
      }
    }
  }

  &-title {
    max-width: 400px;
    @include text-ellipsis();
  }

  &-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-app-region: no-drag;

    .btn {
      height: 29px;
      line-height: 30px;
      width: 45px;
      text-align: center;
      font-size: 14px;
      transition: background-color 0.3s ease;

      &:hover {
        background: #e5e5e5;
      }

      &.close {
        &:hover {
          background: #e81123;
          color: #fff;
        }
      }
    }
  }
}
