.fav-list {
  padding: 20px;

  .button-wrapper {
    padding-bottom: 10px;
  }

  .fav-wrapper {
    border: 1px solid #dcdfe6;

    .fav-item {
      border-bottom: 1px solid #dcdfe6;

      &:last-child {
        border-bottom: 0;
      }

      .fav-item-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        color: #303133;
        padding: 5px 12px;
      }

      .fav-item__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .fav-item__inner {
          padding-left: 12px;
        }
      }

      .fav-item__action {
        text-align: right;
      }
    }
  }
}
