.fav-list {
  padding: 20px;

  .button-wrapper {
    padding-bottom: 10px;
  }

  .fav-wrapper {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    .fav-item {
      margin: 5px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      color: #303133;
      padding: 12px 12px;
      border-bottom: 1px solid #dcdfe6;

      &:last-child {
        border-bottom: 0;
      }

      .fav-item__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .fav-item__action {
        text-align: right;
      }
    }
  }
}
