name: Make MediaGo Docker Image

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.19.0"

      - uses: pnpm/action-setup@v3
        with:
          version: "10.15.0"
          run_install: true
          standalone: true

      - name: Build
        run: pnpm release:server

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Aliyun Container Registry
        uses: docker/login-action@v3
        with:
          registry: registry.cn-beijing.aliyuncs.com
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./apps/server
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            registry.cn-beijing.aliyuncs.com/caorushizi/mediago:latest
            registry.cn-beijing.aliyuncs.com/caorushizi/mediago:${{ github.sha }}
