.download-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  &.file-drag {
    &:after {
      z-index: 1001;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
    }
    &:before {
      z-index: 1002;
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px;
      border: 2px #00b3ff dashed;
      border-radius: 10px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.file-accept {
      &:before {
        content: "拖拽到这里新建下载";
      }
    }
    &.file-reject {
      &:before {
        content: "不能下载";
      }
    }
  }

  .toolbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
  }

  .download-main {
    flex: 1;
    overflow: hidden;
    .split-pane {
      position: relative !important;
    }
    .download-list {
      height: 100%;
      overflow: hidden;
      .download-item {
        padding: 0 15px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
          background: rgb(235, 238, 245);
        }
        &.active {
          background: red;
        }
        .status {
          height: 8px;
          width: 8px;
          border-radius: 4px;
          background: #108ee9;
          &.success {
            background: #87d068;
          }
          &.fail {
            background: #f50;
          }
        }
        .name {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-left: 8px;
          cursor: default;
        }
      }
    }
    .task-panel {
      height: 100%;
      padding: 12px;
      overflow: auto;
      .panel-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  .footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 12px;
  }
}
